{{ define "main" }}
    <div id="name_icon">
        <h1 id="name">{{ .Site.Data.i.profile.name }}</h1>
        <a href="imgs/icon.png">
            <picture>
                <source srcset="imgs/icon-thumbnail.webp" type="image/webp">
                <img src="imgs/icon-thumbnail.jpg" alt="{{ .Site.Data.i.profile.name }}'s icon" id="icon" />
            </picture>
        </a>
    </div>
    <p>{{ .Site.Data.i.profile.bio }}</p>

    <h2>アカウントなど</h2>
    {{ partial "services.html" .Site.Data.i.servicesavailable }}

    <h2>作ったものとか / <span style="font-size: 0.5em">最新 {{ .Site.Params.latestWorksDisplayingCount }} 件</span></h2>
    <dl>
        {{ range first .Site.Params.latestWorksDisplayingCount .Site.Data.i.works }}
            {{ partial "work.html" . }}
        {{ end }}
    </dl>
    <p>などなど……。（<a href="works/">もっと見る</a>）</p>

    <h2>書いたもの</h2>
    <ul>
        {{ range .Site.Data.i.writings }}
            {{ partial "writing.html" . }}
        {{ end }}
    </ul>

    <h2>やったこと</h2>
    <ul id="ul-parent">
        {{ range .Site.Data.i.activities }}
            {{ partial "activity.html" . }}
        {{ end }}
    </ul>

    <h2>資格</h2>
    <ul>
        {{ range .Site.Data.i.certifications }}
            {{ partial "certification.html" . }}
        {{ end }}
    </ul>

    <h2>好きなこと・もの</h2>
    {{ partial "recursive-list.html" .Site.Data.i.profile.likes }}

    <h2>ドライブ関連</h2>
    {{ partial "driving.html" .Site.Data.i.driving }}

    <h2>相互リンク集</h2>
    {{ partial "reciprocal-links.html" .Site.Data.i.links }}

    {{ partial "footer.html" }}
{{ end }}